.block .header{
	background-image: url("../images/containers/block_big/background_block_big_top.png");
	background-position: top;
	background-repeat: no-repeat;
	height: 20px;
	margin-top: 10px

}

.block .content{
	background-image: url("../images/containers/block_big/background_block_big_center.png");
	background-position: center;
	background-repeat: repeat;
	padding-left: 10px;
	padding-right: 10px;
}
.block .content .title{
	font-size: 32px;
}

.block .footer{
	background-image: url("../images/containers/block_big/background_block_big_bottom.png");
	background-position: bottom;
	background-repeat: no-repeat;
	height: 20px;

}