.galery{
	width: 1200px;
	
}
.galery iframe{
	border: 0px;
	float: left;
	width: 600px;
	height: 305px;
	padding-top: 15px;
}
.post {
	width: 550px;
	height: 300px;
}
.post .thumbnail{
	background-image: url("../images/containers/galery/thumbnail.png");
	background-position: center;
	background-repeat: repeat;
	float: left;
	width: 250px;
	height: 300px;
}
.post .thumbnail img{
	display: block;
	margin: auto;
}
.post .content{
	float: right;
	width: 300px;
	height: 300px;
}

/* Header */
.post .content .header{
	background-image: url("../images/containers/galery/post_top.png");
	background-position: top;
	background-repeat: no-repeat;
	width: 300px;
	height: 20px;
}
/* Content */
.post .content .content{
	background-image: url("../images/containers/galery/post_center.png");
	background-position: center;
	background-repeat: repeat;
	width: 300px;
	height: 260px;
}
.post .content .content .title{
	font-size: 32px;
}
.post .content .content p{
	padding-left: 5px;
}
/* Footer */
.post .content .footer{
	float: right;
	background-image: url("../images/containers/galery/post_bottom.png");
	background-position: bottom;
	background-repeat: no-repeat;
	width: 300px;
	height: 20px;
}
.post .content .footer p{
	padding-left: 5px;
}