*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: darkgray;
}
a:visited { 
    color: darkgray;
}
.clear{
    display: flex;
    flex-direction: column;
    
}
body{
    background-color: rgb(100, 100, 100);
    background-image: url("/resources/articles/2018/11/8/1/images/background.png");
    background-repeat: repeat;
    
}
#hero{
    background-image: url("/resources/articles/2018/11/8/1/images/header.png");
    height: 400px;
}
body #wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    border: 1px solid none;
    border-radius: 10px;
    width: 1000px;
    margin: 20px auto;
    padding: 10px;
    height: auto;
    
}
nav ul{
    padding-top: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
    height: 39px;
    list-style-type: none;
}
nav ul li a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    float: left;
    margin-right: 10px;
    padding: 10px;
    border-top: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}nav ul li a:visited{
    color: rgb(0, 0, 0);
}
nav ul li .nav-selected{
    background: linear-gradient(rgb(229, 229, 229), rgb(172, 172, 172));
}
nav ul .nav-hover a{
    background: linear-gradient(rgb(229, 229, 229), rgb(172, 172, 172));
}
#container{
    width: 1000px;
}
#main-col{
    width: 782px;
    height: 200px;
    float: left;
    height: inherit;
}
#main-col #content{
    width: inherit;
    height: inherit;
}
#main-col #content article{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    width: 750px;
    height: inherit;
}
#side-col{
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 200px;
    height: 500px;
    float: right;
}
#side-col .date{
    text-align: center;
}
#side-col .time{
    margin-left: 15px;
    margin-right: 15px;
    width: 170px;
    height: 170px;
    background-image: url("/resources/articles/2018/11/9/1/images/back.png");
    margin-top: 15px;
    text-align: center;
}
footer{
    margin-bottom: 50px;
}
article header{
    height: 70px;
    border-bottom: 1px dotted rgb(200, 200, 200);
    float: none;
}
article header .date{
    background: linear-gradient(rgb(229, 229, 229), rgb(172, 172, 172));
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    height: 55px;
    width: 55px;
    float: left;
    text-align: center;
}
article header .date .month{
    font-size: 12px;
}
article header .date .day{
    font-size: 24px;
}
article header .date .year{
    font-size: 10px;
}
article header .title{
    font-size: 22px;
    padding-left: 65px;
}
article .content p{
    font-size: 18px;
}
article .content .title{
    font-size: 26px;
    font-weight: bold;
}
article .content{
    height: inherit;
}
article .content *{
    padding-top: 10px;
}
article .content ul {
    padding-top: 0px;
    padding-left: 20px;
}
article .content ul li {
    padding-top: 0px;
}
article .footer {
    margin-top: 5px;
    border-top: 1px dotted rgb(200, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.not-bold {
    font-weight: normal;
}
.italic {
    font-style: italic;
}
.not-italic {
    font-style: normal;
}
button {
    width: 780px;
    height: 40px;
}